@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
    color: #222;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 1rem;
    background-color: white;
    border-bottom: 2px solid #f2f2f2;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #222;
}

.logo img{
    width: 100px;
    cursor: pointer ;
}

.search input[type='search']{
    width: 400px;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.button{
    padding: 0.25rem 1.5rem;
    border: 1px solid #2c5fd5;
    border-radius: 20px;
    color: #2c5fd5;
    font-weight: bold;
    text-decoration: none;
}

.subscribe .button{
    border: none;
    padding: 10px 16px;
    background-color: #fb2300;
    color: white;
    text-transform: uppercase;
}

.subscribe .button:hover{
    background-color: #ce1e03;
}

main{
    margin: auto;

    display: grid;
    grid-row-gap: 1rem;

    grid-template-areas: 
        'video-player video-player'
        'video-info   video-info'
        'actions      actions'
        'channel      subscribe'
        'up-next      up-next'
    ;
}

.video-player{
    grid-area: video-player; /*não é obrigatório ter o mesmo nome da classe*/

    position: relative;
    padding: 1rem 0 56.25% 1rem;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.video-player iframe,
.video-player object,
.video-player embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info{
    grid-area: video-info;

    padding: 0 0 1rem 1rem;
    
}

.video-info h1{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1rem;
}

.video-info .views{
    color: #606060;
}

.actions{
    grid-area: actions;

    border-bottom: 1px solid #ddd;
    padding: 0 1rem 0.5rem 1rem;
    color: #636363;

    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: end;
    align-items: end;
    grid-gap: 0.5rem;
    cursor: pointer;
}

.action{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.25rem;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 4px;
    background-color: #e4e4e4;
    border-radius: 20px;
}

.action:hover{
    background-color: #ccc;
    color: black;
}

.action svg{
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.action:last-child{
    grid-template-columns: auto;
}

.menu{
    display: none;
}

.dropdown{
    position: relative;
}

.menu{
    position: absolute;
}

.menu{
    z-index: 2;
    top: 2px;
    height: 36px;
    width: 198px;
    border: 1px solid #dfe4e7;
    outline: none;
    padding-left: 34px;
    border-radius: 4px;
    background: transparent;
    font-family: inherit;
    font-size: 12px;
}

#plus{
    top: 13px;
    left: 10px;
    z-index: 3;
    width: 16px;
    height: 16px;
    pointer-events: none;
}
/*
#clipe{
    display: none;
}

#save{
    display: none;
}

#denunciar{
    display: none;
}
*/

.channel{
    grid-area: channel;
    
    padding: 1rem;
    border-bottom: 1px solid #ddd;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-gap: 1rem;
    cursor: pointer;
}

.channel img{
    width: 48px;
    border-radius: 50%;
}

.channel .date{
    color: #777;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.channel .channel-description{
    font-size: 0.8rem;
    cursor: text;
}

.subscribe{
    grid-area: subscribe;

    padding: 3rem 1rem;
    border-bottom: 1px solid #ddd;
    text-align: right;
}

.ad{
    grid-area: ad;

    margin: 1rem;
    padding: 4rem;
    text-align: center;
    background-color: #2196f3;
    color: white;
    max-width: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.up-next{
    grid-area: up-next;

    margin: 1rem;
    max-width: 350px;
}

.up-next a{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: .1rem;
    padding-bottom: 0.75rem;
}

.up-next a:hover{
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.up-next img{
    width: 100%;
    border-radius: 5px;
}

.up-next h4{
    margin: 0.25rem 0;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
}

.up-next p{
    color: #888;
    font-size: 0.9rem;
}

@media screen and (min-width:700px){
    #clipe{
        display: grid;
    }
    
    #save{
        display: grid;
    }
}


@media screen and (max-width:1028px){
    .search, .ad{
        display: none;
    }
}

@media screen and (min-width: 1028px) {
    header{
        grid-template-columns: auto auto auto;
    }
    main{
        max-width: 1400px;

        grid-template-areas: 
        'video-player video-player ad'
        'video-player video-player up-next'
        'video-info   actions      up-next'
        'channel      subscribe    up-next'
        '.            .            up-next';
    }
    .actions{
        padding: 0 1rem 0.5rem 1rem;
    }

    .video-info{
        border-bottom: 1px solid #ddd;
    }
    .up-next h4{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        -webkit-box-orient: vertical; 
      }
}